USE [DepoYonetimSistemiDb]
GO
/****** Object:  Trigger [dbo].[UpdateProduct]    Script Date: 9.07.2024 11:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER trigger [dbo].[UpdateProduct]
on [dbo].[Product]
after update
as
begin
  declare @NewName nvarchar(50)
  declare @OldName nvarchar(50)


  select @NewName=Name from inserted
  select @OldName=Name from deleted



    if(@NewName=@OldName)
    begin
        print 'Arkadşım iyi misin? Neden '+@OldName+' ürünün adını aynı ismi ile yazdın?'
    end
    else
    begin
        print @OldName+' Adlı Ürün Adı Artık '+@NewName+' Olarak Değiştirildi!'
    end
end


update Product set Name='Vestel Full Hd Tvv' where Id=10	