USE [DepoYonetimSistemiDb]
GO
/****** Object:  StoredProcedure [dbo].[GetAllProductCategoryById]    Script Date: 10.07.2024 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[GetAllProductCategoryById]
@Id int 
as 
begin 

  select*from Product where CategoryId=@Id
end

exec GetAllProductCategoryById 2