USE [DepoYonetimSistemiDb]
GO
/****** Object:  StoredProcedure [dbo].[KiloEndexHesaplama]    Script Date: 10.07.2024 11:07:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[KiloEndexHesaplama] @Yas int, @Boy float,@Kilo float
as
begin
    declare @Sonuc float

    set @Sonuc=@Kilo+(@Boy*@Boy)

   if(@Sonuc<18.5)
   begin
    print 'Aşırı Zayıfsınız'
   end
end