.container{
text-align: center;
padding-top:100px ;
align-items: center;
padding-left: 100px;
padding-right: 100px;
}
.container .item{
background-color: rgb(32, 202, 75);
border-radius: 10px;
border: 1px solid black;
margin-bottom: 10px;
padding: 10px;
width: 400px;
}

.hesap{
    margin-top: 25px;

}

.item ul{
    list-style-type: none;
    padding-left: 0px;
}

.button{
    width: 37px;
    margin-top: 3px;
}
.datatable{
    width: 100%;
    margin-top: 10px;
    border-spacing: 0px;
}
.datatable thead tr td, .datatable tbody tr td{
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
}