.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}


button{
background-color: #109114;
color: rgb(255, 255, 255);
padding: 14px 20px;
margin: 8px 0px;
border: none;
cursor: pointer;
width: 50%;
}
button:hover{
    opacity: 0.8;
}

img{
    width: 100%;
    height: auto;
}

h2{
    text-align: center;
    color: red;
}

h1{
    text-align: center;
    color: red;
}